# Custom
CCLE/cnv/CCLE_ABSOLUTE_combined_20181227.xlsx
CCLE/cnv/segfile_CCLE.txt
CCLE/gene_expression/ccle_salmon.gene_tpm_cvcl.tsv
CCLE/gene_expression/gene_expression.csv
CCLE/gene_expression/salmon.merged.gene_tpm.tsv
CCLE/methylation/CCLE_RRBS_TSS_CpG_clusters_20180614.txt
CCLE/methylation/methylation_cellosaurus.csv
CCLE/methylation/methylation_pre_mapping.csv
CCLE/response/curve_curator_pEC50_CCLE.csv
CCLE/response/curve_curator_responses_CCLE.csv
CCLE/response/response_CCLE.csv
CCLE/response/response_CTRPv2_curvecurator.tsv
CCLE/mutationfile_CCLE.txt

GDSC/annotation/cell_line_annotation_gdsc1.csv
GDSC/annotation/cell_line_annotation_gdsc2.csv
GDSC/annotation/cell_line_names.csv
GDSC/annotation/drug_annotation_gdsc1.csv
GDSC/annotation/drug_annotation_gdsc2.csv
GDSC/cnv/copy_number_variation_gistic.csv
GDSC/gene_expression/gene_expression.csv
GDSC/methylation/F2_METH_CELL_DATA.txt
GDSC/methylation/methSampleId_2_cosmicIds.xlsx
GDSC/methylation/methylation.csv
GDSC/mutation/mutations.csv
GDSC/response/binarized_gdsc.csv
GDSC/response/binarized_gdsc_cellosaurus.csv
GDSC/response/curves_GDSC1.txt
GDSC/response/curves_GDSC1_cellosaurus.csv
GDSC/response/curves_GDSC1_cellosaurus_transposed.csv
GDSC/response/curves_GDSC2.txt
GDSC/response/curves_GDSC2_cellosaurus.csv
GDSC/response/curves_GDSC2_cellosaurus_transposed.csv
GDSC/response/response_GDSC1.csv
GDSC/response/response_GDSC2.csv

mapping/cellosaurus_01_2024.csv.zip
utils/DIPK_features/PreprocessingC/drugs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/
